/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family:'starwars';
  src:url('../font/STARWARS.eot') format('eot'),
  url('../font/STARWARS.woff') format('woff'),
  url('../font/STARWARS.ttf') format('truetype'),
  url('../font/STARWARS.svg') format('svg');
  font-weight:normal;
  font-style:normal;
}

html, body {
   width:100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width:1100px;
  background-image: url('../images/star-wars-background.jpg');
  background-repeat: no-repeat;
  padding-top: 55%;
  background-size: cover;
  position:relative;
  color:#fff;
}
.game-container {
  position: absolute;
  top: 50px;
  width: 60%;
  margin-left: -15px;
}
h1 {
  font-family:starwars;
  font-size:3em;
  text-align:center;
}
h3 {
  font-size: 1.5em;
  width: 300px;
  text-align: center;
  margin: 10px auto;
}
.questions-container {
  width: 300px;
  margin: 30px auto;
  background-color: #fff;
  color: #000;
  padding: 50px 20px;
}
footer {
  width: 400px;
  margin:20px auto;
  text-align:center;
}